body {
  color: rgb(12, 11, 11);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
    background-color: rgb(143, 149, 118);
    margin: 0px;
    font-size: 14px;

}
h1,
h2 {
  text-decoration: underline;
  text-align: center;
 
}

h3 {
  text-decoration: underline;
  
  
}

p.para1 {
  color: blue;
  font-size: 25px;
  margin: 20px;
  text-align: center;
}




p.paragraph {
  color: purple;
  font-size: 15px;
  line-height: 1.5em;
  background-color: aliceblue;
  padding: 20px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin: 20px;
  background-image: url(clouds.png);
  border-radius: 10px;
}


p.para4 {
  color: black;
  font-size: 15px;
  line-height: 1.5em;
  background-color: aliceblue;
  padding: 20px;
  border-color: green;
  border-width: thick;
  border-style: outset;
  margin: 20px;
  margin-left: 400px;
  padding-left: 20px;
  cursor: pointer;
}

.imagec {
display: block;
margin-left: auto;
margin-right: auto;
border-color: black;
border-width: 2px;
border-style: solid;
padding: 3px;

}

.highlight {
  background-color: chocolate;
}

a:link {
  color: rgb(37, 144, 7);
}

a:visited {
  color: rgb(7, 135, 39);
}

a.hover {
  color: brown;
}




#main {
 background color: white;
margin: 20px;
border-radius:5px;
padding: 10px;

}

.image {
 float: left;
margin-right: 10px;

}


#box1 {
  width: 800px;
  height: 300px;
  float: left;
 background-color: rgb(230, 224, 224);
box-shadow: inset 0 0 20px black;
}

#box2 {
  width: 300px;
  height: 300px;
  float: left;
  padding: 15px;
  margin: 10px;
  background-color: blue;
opacity: 0.5;
}

#box2:hover {
  opacity: 1.0;
}



#box3 {
  width: 800px;
    height: 300px;
    float: left;
    background: blue;
    background: linear-gradient(to right, rgba(0,0,255,1.0), rgba(255,255,0,0.5));
}


#text1 {

  text-align: center;
  font: bold 60px Helvetica;
  text-shadow: 3px 3px 5px orange,
    6px 6px 10px blue;
}

#text2 {

  text-align: center;
  font: bold 60px Helvetica;
  text-shadow: 6px 6px 10px rgba(0, 0, 255, 0.3);
}

#header {
  background-color: #5c755e;
  margin: 10px;
  height: 90px;
  border-radius: 5px;
}

#navbar {
  background-color: #5c755e;
  margin: 10px;
  height: 35px;
  border-radius: 5px;
}

#navbar ul {
  text-align: center;
  list-style-type: none;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  background-color: black;
}

#navbar ul li {
  display: inline;
}

#navbar ul li a {
  text-decoration: none;
  padding: .2em 1em;
  color: white;
  background-color: black;
  font-family: Arial;
}

#navbar ul li a:hover {
  background-color: white;
  color: black;
}

.main0 {
  background-color: #e5e4d7;
  margin-left: 10px;
  margin-right: 320px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 110%;
  padding: 20px;
  border-radius: 5px;
}

.main0 h1 {
 color: #ce282e;
 font-size: 140%;
 text-align: left;
 text-decoration: none;
}

.sideright {
  background-color: #e5e4d7;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 105%;
    padding: 20px;
    border-radius: 5px;
    width: 260px;
    float: right;
}

.sideright h2 {
  font-size: 120%;
  color: darkblue;
  text-align: left;
    text-decoration: none;
}

.imagesidebar {
  
  margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
  border-radius: 5px;
  width: 300px;
  float: right;
  clear: right;
  opacity: 1.0;
  transition: 1s ease-in-out;
}

.imagesidebar:hover {
  opacity: 0.5;
}

#footer {
  background-color: #5c755e;
    margin: 10px;
    height: 60px;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    font-size: 90%;
    color: #e5e4d7;

}

#footer ul {
  text-align: center;
  list-style-type: none;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  
}

#footer ul li {
  display: inline;
}

#footer ul li a {
  text-decoration: none;
  padding: .2em 1em;
  color: white;

  font-family: Arial;
}

#footer ul li a:hover {
  background-color: white;
  color: black;
}
h3 {
  font-size: 250%;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #e5e4d7;
  margin: 0px;
  position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}